<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-start">
      <div class="px-8 w-full">
        <div class="w-full bg-base-200 flex items-center justify-between p-6 rounded-b-2xl">
          <div class="space-x-3 flex items-center">
            <label for="my-drawer-2" class="btn btn-primary btn-sm drawer-button lg:hidden">
              <ion-icon class="text-2xl" name="menu-outline"></ion-icon>
            </label>
            <h2 class="text-xl">Beranda</h2>
          </div>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="w-12 h-12 bg-primary rounded-full relative overflow-hidden">
              <img src="assets/image/dev.png" class="w-full h-full object-cover object-center" alt="Developer">
            </div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>Profil</a></li>
              <li><a>Logout</a></li>
            </ul>
          </div>
        </div>
        <div class="w-full mt-8 p-8 bg-base-200 rounded-2xl">
          <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 items-center">
            <div class="p-4 rounded-xl bg-gradient-to-tr from-blue-800 to-blue-400 flex items-center gap-x-2 justify-between">
              <div>
                <ion-icon class="text-xl" name="person-add-outline"></ion-icon>
                <p class="text-sm">Data Pasien</p>
              </div>
              <div class="pr-3">
                <h2 class="text-4xl font-bold">12</h2>
              </div>
            </div>
            <div class="p-4 rounded-xl bg-gradient-to-tr from-green-800 to-green-400 flex items-center gap-x-2 justify-between">
              <div>
                <ion-icon class="text-xl" name="list-circle-outline"></ion-icon>
                <p class="text-sm">Pemeriksaan</p>
              </div>
              <div class="pr-3">
                <h2 class="text-4xl font-bold">10</h2>
              </div>
            </div>
            <div class="p-4 rounded-xl bg-gradient-to-tr from-red-800 to-red-400 flex items-center gap-x-2 justify-between">
              <div>
                <ion-icon class="text-xl" name="help-circle-outline"></ion-icon>
                <p class="text-sm">Kuesioner</p>
              </div>
              <div class="pr-3">
                <h2 class="text-4xl font-bold">8</h2>
              </div>
            </div>
            <div class="p-4 rounded-xl bg-gradient-to-tr from-indigo-800 to-indigo-400 flex items-center gap-x-2 justify-between">
              <div>
                <ion-icon class="text-xl" name="person-circle-outline"></ion-icon>
                <p class="text-sm">Pengguna</p>
              </div>
              <div class="pr-3">
                <h2 class="text-4xl font-bold">2</h2>
              </div>
            </div>
          </div>
          <div class="w-full mt-6 rounded-xl bg-base-100 grid md:grid-cols-2 grid-cols-1 items-center">
            <div class="p-8 text-base-content bg-base-300 rounded-xl space-y-6">
              <div>
                <label class="mb-2" for="name">Nama</label>
                <input id="name" type="text" placeholder="contoh: Rizki Umar Salim" class="input bg-base-300 input-bordered w-full" />
              </div>
              <div>
                <label class="mb-2" for="birthday">Tanggal Lahir</label>
                <input type="date" class="input bg-base-300 input-bordered w-full" />
              </div>
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-x-3">
                  <input type="radio" name="radio-2" class="radio radio-primary" checked id="male"/>
                  <label for="male">Laki laki</label>
                </div>
                <div class="flex items-center gap-x-3">
                  <input type="radio" name="radio-2" class="radio radio-primary" id="female"/>
                  <label for="female">Perempuan</label>
                </div>
              </div>
            </div>
            <div class="relative text-base-content p-6">
              <h1 class="text-2xl mb-4 font-bold">Untuk Memulai Pemeriksaan Pasien</h1>
              <div class="text-md text-primary">Mohon isikan nama, tanggal lahir dan jenis kelamin terlebih dahulu</div>
              <div class="text-md">Setelah itu tekan tombol Mulai dibawah ini</div>
              <div class="text-right">
                <ion-button fill="clear" class="btn btn-primary w-1/2 mt-4 text-white">Mulai</ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content space-y-3">
        <!-- Sidebar content here -->
        <li><a class="bg-primary text-white"><ion-icon class="text-2xl mr-2" name="home-outline"></ion-icon> Beranda</a></li>
        <li><a><ion-icon class="text-2xl mr-2" name="help-circle-outline"></ion-icon> Kuesioner</a></li>
        <li><a><ion-icon class="text-2xl mr-2" name="person-add-outline"></ion-icon> Data Pasien</a></li>
        <li><a><ion-icon class="text-2xl mr-2" name="list-circle-outline"></ion-icon> Data Pemeriksaan</a></li>
        <li><a><ion-icon class="text-2xl mr-2" name="settings-outline"></ion-icon> Pengaturan</a></li>
      </ul>
    </div>
  </div>
</ion-content>
