<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="grid grid-cols-1 gap-4 bg-base-200">
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col items-center justify-start">
        <div class="px-8 w-full">
          <div
            class="w-full bg-base-100 flex items-center justify-between p-6 rounded-b-2xl"
          >
            <div class="space-x-3 flex items-center">
              <label
                for="my-drawer-2"
                class="btn btn-primary btn-sm drawer-button lg:hidden"
              >
                <ion-icon class="text-2xl" name="menu-outline"></ion-icon>
              </label>
              <h2 class="text-xl text-base-content">Users</h2>
            </div>
            <div class="dropdown dropdown-end">
              <div
                tabindex="0"
                role="button"
                class="w-12 h-12 bg-primary rounded-full relative overflow-hidden"
              >
                <img
                  src="assets/image/profile.png"
                  class="w-full h-full object-cover object-center"
                  alt="Developer"
                />
              </div>
              <ul
                tabindex="0"
                class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
              >
                <li><a>Profil</a></li>
                <li><a>Logout</a></li>
              </ul>
            </div>
          </div>
          <div class="flex flex-row justify-between mt-16">
            <div class="flex items-center justify-center">
              <h1 class="text-base-content text-bold text-2xl">
                List of Users
                <div class="badge badge-primary">{{ numberOfTeams }}</div>
              </h1>
            </div>
            <div>
              <div tabindex="0" class="collapse collapse-arrow bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title text-base-content">Newest</div>
                <div class="collapse-content text-base-content">
                  <p>filter1</p>
                  <p>filter2</p>
                  <p>filter3</p>
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-3 mt-[70px] gap-5 gap-y-10 mb-10">
            <div class="flex items-center" *ngFor="let team of teams">
              <div class="p-3 bg-base-100 rounded-2xl w-full">
                <div class="grid grid-cols-4">
                  <div class="flex items-center justify-center w-24 h-24">
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/gesto-d6223.appspot.com/o/team%2F{{ team.image }}?alt=media&token=93b4f991-5a73-453c-b4d2-eea28757e5e6"
                      alt="Foto Profil"
                      class="w-full h-full"
                    />
                  </div>
                  <div class="col-span-2 grid grid-rows-2">
                    <div>
                      <h1 class="text-base-content font-bold text-lg">
                        {{ team.name }}
                      </h1>
                    </div>
                    <div>
                      <p class="text-base-content mt-1">{{ team.role }}</p>
                    </div>
                  </div>
                  <div class="flex items-center justify-end">
                    <ion-icon
                      class="text-base-content"
                      name="ellipsis-vertical"
                    ></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="drawer-side">
        <label
          for="my-drawer-2"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul
          class="menu p-4 w-80 min-h-full bg-base-100 text-base-content space-y-3"
        >
          <div class="icon-logo w-10">
            <img src="assets/image/button.png" alt="Gesto-logo" />
          </div>
          <div class="icon-logo w-20 m">
            <img src="assets/image/Gesto.png" alt="Gesto-logo" />
          </div>
          <!-- Sidebar content here -->
          <li>
            <a href="/dashboard"
              ><ion-icon class="text-2xl mr-2" name="home-outline"></ion-icon>
              Home</a
            >
          </li>
          <li>
            <a href="/communities"
              ><ion-icon class="text-2xl mr-2" name="people-outline"></ion-icon>
              Communities</a
            >
          </li>
          <li>
            <a class="bg-base-300 font-bold shadow" href="/users"
              ><ion-icon class="text-2xl mr-2" name="person-outline"></ion-icon>
              Users</a
            >
          </li>
          <li>
            <a onclick="setting_modal.showModal()">
              <ion-icon
                class="text-2xl mr-2"
                name="settings-outline"
              ></ion-icon>
              Settings
            </a>
          </li>
        </ul>
        <dialog id="setting_modal" class="modal">
          <div class="modal-box text-base-content">
            <h3 class="font-bold text-lg">Setting</h3>
            <p class="py-4 text-sm">
              Press ESC key or click the button below to close
            </p>
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-x-3">
                <ion-icon size="large" name="contrast-outline"></ion-icon>
                <span>Theme View</span>
              </div>
              <div>
                <ion-button
                  (click)="changeTheme($event)"
                  fill="clear"
                  class="btn btn-outline btn-primary"
                  >{{ theme }}</ion-button
                >
              </div>
            </div>
            <div class="modal-action">
              <form method="dialog">
                <button class="btn">Close</button>
              </form>
            </div>
          </div>
        </dialog>
      </div>
    </div>
  </div>
</ion-content>
